<mat-toolbar color="primary" class="header doNotPrint">
    <div>Product Records</div>
    <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="doNotPrint" #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/add-product">
                <mat-icon>add</mat-icon> Add Product
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/products-list">
                <mat-icon>format_list_bulleted</mat-icon> View Products
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/purchaseOrder">
                <mat-icon>format_list_bulleted</mat-icon> Purchase Orders
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- class="doNotPrint" -->

    <mat-sidenav-content>
        <!-- <div class="doNotPrint" [class.isPrinting]="printService.isPrinting">
            <div style="text-align:center">
                <h1>
                    Welcome to {{ title }}!
                </h1>
            </div>

            <button (click)="onPrintInvoice()">PRINT INVOICE</button>

            <router-outlet name="print"></router-outlet>
        </div> -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>