.example-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;

  }
  
  .example-container > * {
    width: 100%;
  }

  @media print{
    .doNotPrint{display:none !important;}
  }

  .invoice-title h2, .invoice-title h3 {
    display: inline-block;
}
